In [4]:
from datetime import datetime

In [5]:
my_year = 1998
my_month = 7
my_day = 10
my_hour = 1
my_min = 15
my_sec = 30

In [7]:
my_bd = datetime(my_year,my_month,my_day,my_hour,my_min,my_sec)

In [8]:
my_bd

datetime.datetime(1998, 7, 10, 1, 15, 30)

In [10]:
print(my_bd)

1998-07-10 01:15:30

In [12]:
import numpy as np

In [19]:
np.array(['2019-01-02','2018-03-04','2017-06-05'],dtype='datetime64')

array(['2019-01-02', '2018-03-04', '2017-06-05'], dtype='datetime64[D]')

In [23]:
np.arange('2019-01-02','2019-02-02',7,dtype='datetime64')

array(['2019-01-02', '2019-01-09', '2019-01-16', '2019-01-23',
       '2019-01-30'], dtype='datetime64[D]')

In [24]:
import pandas as pd

In [28]:
pd.date_range('1998-07-10',periods=7,freq='D')

DatetimeIndex(['1998-07-10', '1998-07-11', '1998-07-12', '1998-07-13',
               '1998-07-14', '1998-07-15', '1998-07-16'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.to_datetime(['01/02/2019'],format='%d/%m/%Y')

DatetimeIndex(['2019-02-01'], dtype='datetime64[ns]', freq=None)

In [36]:
data = np.random.rand(3,2)
col = ['A','B']
idx = pd.date_range('07/10/1998',periods=3,freq='M')
print(data)

[[0.13982275 0.72035356]
 [0.96095894 0.89279344]
 [0.22140258 0.13361458]]

In [37]:
df = pd.DataFrame(data,idx,col)

In [38]:
df

                   A         B
1998-07-31  0.139823  0.720354
1998-08-31  0.960959  0.892793
1998-09-30  0.221403  0.133615