# 02 Time Shifting

Time Shifting is to shift data point in the table while the index is the same

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/starbucks.csv',index_col='Date',parse_dates=True)

In [4]:
df.head()

              Close    Volume
Date
2015-01-02  38.0061   6906098
2015-01-05  37.2781  11623796
2015-01-06  36.9748   7664340
2015-01-07  37.8848   9732554
2015-01-08  38.4961  13170548

In [5]:
df.tail()

            Close    Volume
Date
2018-12-24  60.56   6323252
2018-12-26  63.08  16646238
2018-12-27  63.20  11308081
2018-12-28  63.39   7712127
2018-12-31  64.40   7690183